table{
    margin: 1.5px;
}

td{
    border: 2px solid black;
    color: darkgreen;
}

#contactInfoTable{
    vertical-align: left;
    background-color: gold;
}
#homeButton{
    width: 100px;
    height: 50px;
    background-color: burlywood;
    font-size: 30px;
    font-style: italic;
    
}